.nav-container {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-container {
    height: 150px;
    width: 150px;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    padding-right: 50px;
}

.nav-link {
    text-decoration: none;
}